Repository fdev31/osmg: changes, and which pre-commit hooks are due for each by the changed paths.
All: noconsolelog, jslint, pylint

noconsolelog:
  name: Ensure no console.log is used
  entry: ./scripts/no_console_log.sh
  language: system

jslint:
  name: JS static tests and final style
  entry: just jslint
  language: system

pylint:
  name: PY static tests and final style
  entry: just pylint
  language: system

use redis module (drop aioredis)
  server/back/debug.py
  server/back/gamelib/atakks.py
  server/back/gamelib/interfaces.py
  server/back/gamelib/marathon.py
  server/back/globalHandlers.py
  server/back/sessionmanager/__init__.py
  server/back/sessionmanager/base.py
  server/back/sessionmanager/public.py
  server/back/sessionmanager/votesystem.py
  server/back/stream.py
Due: pylint

just & tox updates
  justfile
  tox.ini
Due: none

add wrapper script calls
  scripts/copyCra
Due: none

switch to python3.11
  tox.ini
Due: none

fix compatibility
  justfile
  scripts/dump_session
  scripts/remove_old_sessions
  server/back/debug.py
  server/back/gamelib/atakks.py
  server/back/gamelib/interfaces.py
  server/back/gamelib/marathon.py
  server/back/globalHandlers.py
  server/back/sessionmanager/__init__.py
  server/back/sessionmanager/base.py
  server/back/sessionmanager/public.py
  server/back/sessionmanager/votesystem.py
  server/back/stream.py
  tox.ini
Due: pylint

update versions
  poetry.lock
Due: none

fix method signature
  server/back/gamelib/atakks.py
Due: pylint

better contrast behind avatar in Home
  src/views/HomeView.vue
Due: noconsolelog, jslint

update locale
  locales/fr/lobby.json
  src/lib/locales.js
Due: noconsolelog, jslint

Path conditions:
  noconsolelog: any of: \.(js|vue)$
  jslint: any of: \.(js|vue)$
  pylint: any of: \.(py)$
