Repository fdev31/osmg: changes, and which pre-commit hooks are due for each by the changed paths.
All: jslint, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.0" # Use the sha or tag you want to point at
    hooks:
      - id: prettier
        exclude: ^src/lib/locales.js|.*[.]svg
  - repo: local
    hooks:
      - id: jslint
        name: run jslint checks
        entry: just jslint
        files: \.(js|vue)$
        language: system
      - id: pylint
        name: run pylint checks
        entry: just pylint
        files: \.(py)$
        language: system

add few standard hooks
  .pre-commit-config.yaml
Due: none

set 0.2.0 ;)
  pyproject.toml
Due: none

re-generate locales & gamelist automatically
  justfile
Due: none

center marathon
  src/views/GameMarathon.vue
Due: jslint

marathon's help: add a long duration
  src/views/GameMarathon.vue
Due: jslint

Allow unique toast + use it in marathon
  src/components/ToastNotifs.vue
  src/views/GameMarathon.vue
Due: jslint

add help for atakks + allow bigger fonts in toasts
  locales/en/atakks_game.json
  locales/fr/atakks_game.json
  src/components/ToastNotifs.vue
  src/lib/locales.js
  src/views/GameAtakks.vue
  src/views/GameMarathon.vue
Due: jslint

update js packages
  package.json
Due: none

try a chromedriver autoinstaller
  justfile
Due: none

fix fastapi version since newer are incompatible
  pyproject.toml
Due: none

update tickets & locales
  src/lib/locales.js
  tickets.rst
Due: jslint

remove some console.log
  src/components/QrCode.vue
Due: jslint

avoid console.log in commits (experimental)
  .pre-commit-config.yaml
  scripts/no_console_log.sh
Due: none

improve hook output
  scripts/no_console_log.sh
Due: none

make pre-commit output more abstract
  .pre-commit-config.yaml
Due: none

disconnect refactor (experimental)
  server/back/stream.py
Due: pylint

allow private messages
  server/back/stream.py
Due: pylint

optimize message passing, but uses 2 channels
  server/back/globalHandlers.py
  server/back/stream.py
Due: pylint

fix kick error
  src/components/playerList.vue
  src/lib/voting.js
  src/views/LobbyView.vue
Due: jslint

reup kick threshold to normal setting
  src/views/LobbyView.vue
Due: jslint

avoid unwanted dependency
  src/components/playerList.vue
  src/views/LobbyView.vue
Due: jslint

fix spelling mistake
  locales/fr/site.json
  src/lib/locales.js
Due: jslint

add a jsconfig
  jsconfig.json
Due: none

add some words
  src/lib/wordsMaker.js
Due: jslint

split api host & client host
  src/lib/utils.js
Due: jslint

fix lobby api url in dev mode
  src/views/LobbyView.vue
Due: jslint

Fix lobby not refreshing avatar nick
  src/views/HomeView.vue
Due: jslint

linting
  src/App.vue
Due: jslint

update the README
  README.md
Due: none

Fix some regression (wrong var name)
  server/back/gamelib/marathon.py
Due: pylint

lint fix
  server/back/gamelib/std_implem.py
  server/back/stream.py
Due: pylint

relax the testing a little
  tests/front/test_marathon.py
  tests/unit/test_marathon.py
Due: pylint

update JS dependencies
  package.json
Due: none

add poetry lock file
  poetry.lock
Due: none

update tickets
  tickets.rst
Due: none

add a link to bugs in README
  README.md
Due: none

mark working versions
  pyproject.toml
Due: none

add aliases in jsonconfig
  jsconfig.json
Due: none

switch to python3.11
  tox.ini
Due: none

fix compatibility
  justfile
  pyproject.toml
  scripts/dump_session
  scripts/remove_old_sessions
  server/back/debug.py
  server/back/gamelib/atakks.py
  server/back/gamelib/interfaces.py
  server/back/gamelib/marathon.py
  server/back/globalHandlers.py
  server/back/sessionmanager/__init__.py
  server/back/sessionmanager/base.py
  server/back/sessionmanager/public.py
  server/back/sessionmanager/votesystem.py
  server/back/stream.py
  tests/unit/test_marathon.py
  tox.ini
Due: pylint
